
h1 {
  color: blue;
}
.tictactoe-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #5654F0;
    padding: 10px;
  }
.tictactoe-square-container {
    background-color: #6E6BF0;
    border: 3px solid #60F099;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.tictactoe-button {
  width:100%;
  background-color: #F08A84;
  color:black;
}